<div class="container py-3">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <img width="50" height="50" src="https://freepngimg.com/thumb/categories/1467.png" alt="">
        <span class="fs-4">Eductaion</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        {{#if isProducts}}
        <a class="me-3 py-2 text-dark" href="/products">Products</a>
        {{else}}
                <a class="me-3 py-2 text-dark text-decoration-none" href="/products">Products</a>
        {{/if}}

        {{#if isAdd}}

        <a class="me-3 py-2 text-dark" href="/add">Add</a>
        {{else}}
        <a class="me-3 py-2 text-dark text-decoration-none" href="/add">Add</a>
        {{/if}}
        <div class="btn-group">
          {{#if isLogin}}
                      <button class="btn btn-primary active">
                        <a class="text-light text-decoration-none" href="/login">Login</a>
            </button>
          {{else}}
                      <button class="btn btn-primary">
                        <a class="text-light text-decoration-none" href="/login">Login</a>
            </button>
          {{/if}}
          {{#if isRegister}}

            <button class="btn btn-success active">
                        <a class="text-light text-decoration-none" href="/register">Register</a>
            </button>
            {{else}}
                                  <button class="btn btn-success">
                        <a class="text-light text-decoration-none" href="/register">Register</a>
            </button>
            {{/if}}
        </div>
      </nav>
    </div>
    </header>
</div>